@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-image {
  position: relative;
  width: 100%;
  height: 100vh;
  z-index: -1;
}
